@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat";
}

.intro {
    background: url(janjan4.jpg);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.about {
    background-color: #1e1f26;
}
.cont-proj
{
    position: relative;
}
.project-img
{
    display: block;
    opacity: 1;
    backface-visibility: hidden;
}
.project-text
{   
    width: 48%;
    height: fit-content;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-text-inner
{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.project-text1
{   
    width: 48%;
    height: fit-content;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-text-inner1
{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.project-img:hover
{
    opacity: 0.9;
}
.project-img:hover .project-text
{
    opacity: 1;
}
.project-img:hover .project-text1
{
    opacity: 1;
}
.cont-skills {
    width: 100%;
    position: inherit;
    display: block;
    justify-content:center;
    align-items:center;
    margin: 50px auto;
}
.cont-contact
{
    margin: 10px auto;
}
.cont-contact .text-forms
{
    margin: 10px auto;
}
.textt
{
    margin: 0px;
}