
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1
{
    font-family: 'Roboto Slab', serif;
}
p
{
    font-family: 'Titillium Web', sans-serif;
}
.intro {
    background: url(janjan4.jpg);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: whitesmoke;
}

.nav-text
{
    font-family: 'Yantramanav', sans-serif;
    background-color: #0c0606;
    color: whitesmoke;
}
.nav-text a
{
    color: whitesmoke;
}
.nav-text a:hover
{
    color: rgb(247, 21, 21);
}
.about
{
    background-color: #29274C;
    color: whitesmoke;
}
.cont-proj
{
    position: relative;
}
.prog-color
{
    color: green;
}
.project-img
{
    display: block;
    opacity: 1;
    backface-visibility: hidden;
}
.project-left
{   
    width: 48%;
    height: fit-content;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-text-inner
{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.project-right
{   
    width: 48%;
    height: fit-content;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-text-inner1
{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.project-img:hover
{
    opacity: 0.9;
}
.project-img:hover .project-left
{
    opacity: 1;
}
.project-img:hover .project-right
{
    opacity: 1;
}
.cont-skills {
    width: 100%;
    position: inherit;
    display: block;
    justify-content:center;
    align-items:center;
    margin: 50px auto;
}
.cont-contact
{
    margin: 10px auto;
}
.cont-contact .text-forms
{
    margin: 10px auto;
}
.margin-text
{
    margin: 0px;
}